* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Helvetica", sans-serif;
}

a {
  text-decoration: none;
}

main {
  position: absolute;
  /* margin-top: 50px; */
  width: 100%;
}

.hero {
  /* background-color: #17202a; */
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo {
  margin-left: 10px;
}

.nav {
  color: black;
  display: flex;
  align-items: center;
}

.nav p {
  font-size: 20px;
  margin: 10px;
}
.nav p:hover {
  border-bottom: #28a745 2px solid;
}

.left-nav {
  color: #000;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
}

.fixed-btn {
  position: fixed;
  /* background-color: #ccc; */
  /* opacity: 0.4; */
  /* margin-right: 20px; */
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* margin-left: 82vw; */
  /* flex-direction: row-reverse; */
  z-index: 2;
}
.fixed-btn a {
  margin-right: 10px;
  /* opacity: 0.9; */
  z-index: 3;
}
.primary-heading {
  display: inline;
  text-align: center;
  margin-top: 80px;
  font-size: 72px;
  color: black;
}
.middle-heading {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 100px;
  width: 90vw;
  color: black;
}
.top-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
  /* z-index: 1; */
}
.top-image img {
  margin-bottom: 40px;
  width: 60vw;
  border-radius: 40px;
  justify-content: center;
}

.egroup-intro {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.egroup-intro div {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 65vw;
}

.egroup-intro img {
  margin-bottom: 80px;
  margin-top: 40px;
  width: 60vw;
}

.mid-section {
  /* margin-top: 40px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  width: 70vw;
  color: #7b746b;
  justify-content: center;
  text-align: center;
}
.mid-subsection {
  margin-bottom: 80px;
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
}
.mid-subsection-headings {
  margin-top: 80px;
  margin-bottom: 80px;
  color: black;
  display: flex;
  justify-content: space-between;
}
.mid-subsection-imgs {
  display: flex;
  /* position: absolute; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.mid-subsection-imgs .images {
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  /* overflow-x: auto; */
  justify-content: space-around;
}
.mid-subsection-imgs .testimony {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20vw;
}
.mid-subsection-imgs img {
  border-radius: 10px;
  margin-right: 10px;
  aspect-ratio: auto 250 / 270;
  box-shadow: 3px 3px 3px 3px #ccc;
  /* height: 270px; */
  /* width: 250px; */
  width: 100%;
}
.mid-subsection-imgs .testimony p {
  font-size: 20px;
}
/* .mid-subsection-img img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70vw;
} */
.side-heading-left {
  color: black;
  font-size: 58px;
  margin-top: 40px;
  margin-left: 15vw;
  margin-right: 0;
  width: 30vw;
}

.side-heading-right {
  color: #7b746b;
  font-weight: 550;
  font-size: 42px;
  margin-top: 80px;
  margin-right: 15vw;
  text-align: right;
  width: 25vw;
}

.mid-subsection-text {
  font-size: 32px;
  font-weight: 550;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 80vw;
  text-align: center;
}
.bottom-headings {
  display: flex;
}
.side-heading-styled {
  color: #7b746b;
  font-size: 60px;
  margin-bottom: 0;
  margin-left: 15vw;
  margin-top: 40px;
  width: 35vw;
}
.side-heading-right-large {
  color: black;
  font-size: 148px;
  margin-left: 5vw;
  margin-top: 30vh;
  text-align: left;
  width: 25vw;
}
.groups-container {
  display: flex;
  position: relative;
}
.top-groups {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 80px 0;
  /* position: absolute; */
}

/* .top-groups .desktop .right {
  margin-top: 10vh;
  position: absolute;
} */

.top-groups img {
  border-radius: 10px;
  height: 300px;
  width: 300px;
  box-shadow: 3px 3px 3px 3px #ccc;
}
.top-groups div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-groups a {
  /* display: inline; */
  width: 50%;
}
.top-groups .btn-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.group-explore {
  font-weight: 550;
  margin-bottom: 40px;
  margin-top: 40px;
  line-height: 1;
  font-size: 36px;
  width: 30vw;
  text-align: center;
}
.small-heading {
  color: black;
  font-size: 36px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  width: 30vw;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  box-shadow: 2px 2px 2px 2px #ccc;
  /* height: 60px; */
}
.mid-subsection {
  margin-bottom: 40px;
}
.mid-subsection-imgs .images {
  margin-bottom: 20px;
  margin-top: 20px;
}
.scroll-container {
  display: flex;
  height: 300px;
  /* justify-content: center; */
}
.scroll-content {
  display: flex;
  /* flex-wrap: nowrap; */
  width: 100vw;
  /* flex-direction: row; */
  justify-content: space-around;
  -webkit-overflow-scrolling: touch;
}
.scroll-content img {
  /* position: absolute; */
  box-shadow: 3px 3px 3px 3px #ccc;
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  /* flex: 0 0 auto; */
}
.scroll-content .pic1 {
  /* position: absolute; */
  /* margin-bottom: 80px; */
  /* padding-bottom: 40px; */
  border-radius: 10px;
  /* flex: 0 0 auto; */
}

.bottom-content p {
  color: black;
  font-size: 32px;
  margin-bottom: 40px;
}
.bottom-content div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
/* .scroll-content {
  width: 1000px;
} */

/* Mobile */
@media (max-width: 768px) {
  .middle-heading {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 800;
    line-height: 1;
    color: black;
    width: 100vw;
  }
  .description {
    margin-top: 20px;
    font-size: 16px;
    color: #2a2521;
    justify-content: center;
    text-align: center;
    width: 90vw;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100vw;
  }
  .hero .nav {
    display: none;
  }
  .left-nav {
    display: none;
  }
  .primary-heading {
    margin-top: 30px;
  }
  .egroup-intro {
    margin-top: 10px;
  }
  .egroup-intro div {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80vw;
  }
  .egroup-intro img {
    margin-bottom: 40px;
    margin-top: 20px;
    width: 80vw;
  }
  .mid-subsection {
    margin-bottom: 0;
  }
  .mid-subsection-headings {
    display: block;
    /* justify-content: space-between; */
    /* margin: 40px 0 0 40px; */
    margin-top: 40px;
    margin-bottom: 40px;
    /* flex-direction: column; */
  }
  .mid-subsection-text {
    font-size: 16px;
    width: 90vw;
  }
  .side-heading-left {
    color: black;
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 40px;
    width: 95vw;
  }
  .side-heading-right {
    font-size: 22px;
    font-weight: 550;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5vw;
    width: 90vw;
  }
  .side-heading-right-large {
    font-size: 72px;
    line-height: 1;
    margin-top: 0;
    margin-left: 0;
    text-align: left;
    width: 90vw;
  }
  .side-heading-styled {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 40px;
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
  .mid-section {
    margin-top: 20px;
  }
  .primary-heading {
    font-size: 40px;
  }
  .top-image {
    border-radius: 25px;
    margin-top: 40px;
  }
  .top-image img {
    margin-bottom: 10px;
    border-radius: 25px;
    width: 90vw;
  }
  /* .mid-subsection-imgs a {
    font-size: 16px;
  } */
  .mid-subsection-imgs img {
    aspect-ratio: auto 506 / 548;
    /* width: 60px;
    height: 65px; */
    height: 20vw;
    width: 20vw;
  }
  .bottom-content p {
    text-align: center;
    font-size: 20px;
    line-height: 1;
    font-weight: 550;
    /* margin-bottom: 40px; */
  }
  .desktop {
    display: none;
  }
  .fixed-btn {
    display: none;
  }
  .mid-subsection-imgs .testimony {
    flex-direction: column;
  }
  .group-explore {
    font-weight: 550;
    margin-bottom: 40px;
    margin-top: 40px;
    line-height: 1;
    font-size: 20px;
    width: 95vw;
    text-align: center;
  }
  .bottom-headings {
    display: block;
    margin-top: 40px;
  }
  .small-heading {
    margin-bottom: 40px;
    margin-top: 0;
    font-weight: 600;
    font-size: 38px;
    width: 90vw;
  }
  .top-groups {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .scroll-content {
    justify-content: start;
    overflow-x: auto;
  }
  .scroll-content img {
    flex: 0 0 auto;
    border-radius: 0;
    width: 300px;
    height: 300px;
  }
  .scroll-container {
    margin-bottom: 40px;
  }
  .desktop-pic {
    display: none;
  }
}

@media (min-width: 768px) {
  .phone {
    display: none;
  }
}
