* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Helvetica", sans-serif;
}

a {
  text-decoration: none;
}

.hero {
  /* background-color: #17202a; */
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logo {
  margin-left: 10px;
}

.nav {
  color: black;
  display: flex;
  align-items: center;
}

.nav p {
  font-size: 20px;
  margin: 10px;
}
.nav p:hover {
  border-bottom: #28a745 2px solid;
}

.left-nav {
  color: #000;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
}

.fixed-btn {
  position: fixed;
  /* margin-right: 20px; */
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
  width: 99%;
  /* margin-left: 82vw; */
  /* flex-direction: row-reverse; */
}
.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* z-index: 1; */
}
.primary-heading {
  display: inline;
  text-align: center;
  margin-top: 80px;
  font-size: 72px;
  color: black;
}
.middle-heading {
  text-align: center;
  margin-top: 40px;
  font-size: 100px;
  width: 90vw;
  color: black;
}

.top-section img {
  border-radius: 40px;
  justify-content: center;
  margin-top: 80px;
  width: 60vw;
}

.egroup-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: black;
}

.egroup-intro p {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  width: 65vw;
}

.egroup-intro img {
  margin-bottom: 40px;
  margin-top: 20px;
  width: 50vw;
}

.mid-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin-top: 40px;
  font-size: 32px;
  width: 70vw;
  color: #7b746b;
  justify-content: center;
  text-align: center;
}
.mid-subsection {
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
}
.mid-subsection-headings {
  color: black;
  display: flex;
  justify-content: space-between;
}
.mid-subsection-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mid-subsection-img .images {
  display: flex;
}
.mid-subsection-img img {
  height: 220px;
  width: 200px;
}
/* .mid-subsection-img img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70vw;
} */
.side-heading-left {
  color: black;
  font-size: 58px;
  margin-top: 10vh;
  margin-left: 15vw;
  margin-right: 0;
  width: 30vw;
}

.side-heading-styled {
  color: #7b746b;
  font-size: 48px;
  margin-bottom: 0px;
  margin-left: 15vw;
  margin-top: 40px;
  width: 35vw;
}

.side-heading-right {
  color: #7b746b;
  font-weight: 550;
  font-size: 42px;
  margin-top: 20vh;
  margin-right: 15vw;
  text-align: right;
  width: 25vw;
}

.mid-subsection-text {
  font-size: 32px;
  font-weight: 550;
  margin-top: 5vh;
  width: 80vw;
  text-align: center;
}

.side-heading-right-large {
  color: black;
  font-size: 72px;
  margin-left: 50vw;
  margin-right: 0;
  text-align: right;
  width: 25vw;
}
.small-heading {
  color: black;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  /* height: 60px; */
}
.scroll-container {
  display: flex;
  justify-content: center;
  /* margin-top: 10vh; */
  height: 300px;
  /* width: 300px; */
  /* transform: rotate(-90deg); */
}
.scroll-content {
  /* white-space: nowrap;
  background-color: lightblue;
  color: white;
  border: 1px solid black;
  height: 300px;
  overflow-x: scroll; */
  display: flex;
  flex-wrap: nowrap;
  /* overflow-x: auto; */
  /* transform: rotate(90deg); */
  /* scrollbar-width: thin; */
  -webkit-overflow-scrolling: touch;
}
.scroll-content image {
  flex: 0 0 auto;
}

.bottom-content p {
  color: black;
  font-size: 32px;
  margin-bottom: 40px;
}
/* .scroll-content {
  width: 1000px;
} */

/* Mobile */
@media (max-width: 768px) {
  .middle-heading {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    font-weight: 600;
    color: black;
    width: 90vw;
  }
  .description {
    margin-top: 40px;
    font-size: 24px;
    color: #2a2521;
    justify-content: center;
    text-align: center;
    width: 90vw;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100vw;
  }
  .hero .nav {
    display: none;
  }
  .left-nav {
    display: none;
  }
  .primary-heading {
    margin-top: 30px;
  }
  .egroup-intro p {
    font-size: 20px;
    text-align: center;
    width: 80vw;
  }
  .egroup-intro img {
    width: 80vw;
  }
  .mid-subsection-headings {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
  }
  .mid-subsection-text {
    font-size: 24px;
    width: 90vw;
  }
  .side-heading-right {
    font-size: 22px;
    font-weight: 550;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-right: 5vw;
    width: 40vw;
  }
  .side-heading-left {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 5vw;
    margin-right: 0;
    margin-top: 40px;
    width: 40vw;
  }
  .side-heading-right-large {
    font-size: 64px;
    margin-left: 0;
    text-align: left;
    width: 100%;
  }
  .side-heading-styled {
    font-size: 50px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }
  .mid-section {
    margin-top: 20px;
  }
  .primary-heading {
    font-size: 40px;
  }
  .top-section img {
    border-radius: 25px;
    margin-top: 40px;
    width: 90vw;
  }
  .mid-subsection-img img {
    width: 100vw;
  }
  .bottom-content p {
    /* color: black; */
    font-size: 24px;
    font-weight: 550;
    /* margin-bottom: 40px; */
  }
  .desktop {
    display: none;
  }
  .fixed-btn {
    display: none;
  }
  .scroll-content {
    overflow-x: auto;
  }
}

@media (min-width: 768px) {
  .phone {
    display: none;
  }
}
