* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Helvetica", sans-serif;
}

a {
  text-decoration: none;
}

main {
  position: absolute;
  width: 100%;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.fixed-btn {
  position: fixed;
  /* background-color: #ccc;
  opacity: 0.8; */
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  /* margin-top: 80px; */
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 2;
}
.fixed-btn a {
  box-shadow: none;
  margin-right: 10px;
  z-index: 3;
}
.login {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: white;
  /* background-color: #28a745; */
  border: none;
  border-radius: 10px;
  font-size: 24px;
}
.primary-heading {
  display: inline;
  text-align: center;
  margin-top: 80px;
  font-size: 72px;
  color: black;
}

.middle-heading {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 100px;
  width: 90vw;
  color: black;
}

.top-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}

.top-image img {
  margin-bottom: 40px;
  width: 60vw;
  border-radius: 40px;
  justify-content: center;
}

.egroup-intro {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.egroup-intro div {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 65vw;
}

.egroup-intro img {
  margin-bottom: 80px;
  margin-top: 40px;
  width: 60vw;
}

.mid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  width: 70vw;
  color: #7b746b;
  justify-content: center;
  text-align: center;
}

.mid-subsection {
  margin-bottom: 80px;
  justify-content: center;
}

.mid-subsection-headings {
  margin-top: 80px;
  margin-bottom: 80px;
  color: black;
  display: flex;
  justify-content: space-between;
}

.mid-subsection-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mid-subsection-imgs .images {
  /* position: relative; */
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mid-subsection-imgs .testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  text-align: center;
  width: 20vw;
}

.mid-subsection-imgs img {
  border-radius: 10px;
  margin-right: 10px;
  aspect-ratio: auto 250 / 270;
  box-shadow: 3px 3px 3px 3px #ccc;
  width: 100%;
}

.mid-subsection-imgs .testimony p {
  /* background-color: #777; */
  /* border: 1px solid black; */
  border-radius: 10px;
  /* color: white; */
  font-size: 16px;
  padding: 10px;
  /* text-align: left; */
  width: 18vw;
  /* margin-left: 20px; */
}

.side-heading-left {
  color: black;
  font-size: 58px;
  margin-top: 40px;
  margin-left: 15vw;
  margin-right: 0;
  width: 30vw;
}

.side-heading-right {
  color: #7b746b;
  font-weight: 550;
  font-size: 42px;
  margin-top: 80px;
  margin-right: 15vw;
  text-align: right;
  width: 25vw;
}

.mid-subsection-text {
  font-size: 32px;
  font-weight: 550;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 80vw;
  text-align: center;
}

.bottom-headings {
  display: flex;
}

.side-heading-styled {
  color: #7b746b;
  font-size: 60px;
  margin-bottom: 0;
  margin-left: 15vw;
  margin-top: 40px;
  width: 35vw;
}

.side-heading-right-large {
  color: black;
  font-size: 148px;
  margin-left: 5vw;
  margin-top: 30vh;
  text-align: left;
  width: 25vw;
}

.groups-container {
  display: flex;
}

.top-groups {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  margin: 80px 0;
}

.top-groups div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
}

.top-groups img {
  display: flex;
  border-radius: 10px;
  aspect-ratio: auto 1 / 1;
  height: auto;
  width: 20vw;
  height: 300px;
  width: 300px;
  box-shadow: 3px 3px 3px 3px #ccc;
}

.top-groups a {
  width: 50%;
}

.top-groups .btn-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.explore {
  display: flex;
  align-items: center;
}
.group-explore {
  font-weight: 550;
  margin-bottom: 40px;
  margin-top: 40px;
  line-height: 1;
  font-size: 36px;
  text-align: center;
}

.small-heading {
  color: black;
  font-size: 36px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  width: 30vw;
}

.mid-subsection {
  margin-bottom: 40px;
}

.mid-subsection-imgs .images {
  margin-bottom: 20px;
  margin-top: 20px;
}
.scroll-container {
  display: flex;
}

.scroll-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  -webkit-overflow-scrolling: touch;
}

.scroll-content img {
  box-shadow: 3px 3px 3px 3px #ccc;
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.bottom-content p {
  color: black;
  font-size: 32px;
  margin-bottom: 40px;
}

.bottom-content div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Mobile */
@media (max-width: 768px) {
  .middle-heading {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 800;
    line-height: 1;
    color: black;
    width: 100vw;
  }
  .description {
    margin-top: 20px;
    font-size: 16px;
    color: #2a2521;
    justify-content: center;
    text-align: center;
    width: 90vw;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100vw;
  }
  .hero .nav {
    display: none;
  }
  .left-nav {
    display: none;
  }
  .primary-heading {
    margin-top: 30px;
  }
  .egroup-intro {
    margin-top: 10px;
  }
  .egroup-intro div {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80vw;
  }
  .egroup-intro img {
    margin-bottom: 40px;
    margin-top: 20px;
    width: 80vw;
  }
  .mid-subsection {
    margin-bottom: 0;
  }
  .mid-subsection-headings {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .mid-subsection-text {
    margin-top: 0;
    font-size: 16px;
    width: 90vw;
  }
  .side-heading-left {
    color: black;
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 40px;
    width: 95vw;
  }
  .side-heading-right {
    font-size: 22px;
    font-weight: 550;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5vw;
    width: 90vw;
  }
  .side-heading-right-large {
    font-size: 72px;
    line-height: 1;
    margin-top: 0;
    margin-left: 10px;
    text-align: left;
    width: 90vw;
  }
  .side-heading-styled {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-top: 20px;
    width: 90vw;
  }
  .mid-section {
    margin-top: 20px;
  }
  .primary-heading {
    font-size: 40px;
  }
  .top-image {
    border-radius: 25px;
    margin-top: 60px;
  }
  .top-image img {
    margin-bottom: 10px;
    border-radius: 25px;
    width: 90vw;
  }
  .bottom-content p {
    text-align: center;
    font-size: 20px;
    line-height: 1;
    font-weight: 550;
  }
  .desktop {
    display: none;
  }
  .fixed-btn {
    justify-content: space-around;
  }
  .fixed-btn a {
    font-size: small;
  }
  .top-groups a {
    width: 70%;
  }
  .mid-subsection-imgs .images {
    /* position: relative; */
    /* width: 100%;
    margin-top: 40px;
    /* display: flex; */
    /* width: 50vw; */
    margin-bottom: 0;
    flex-direction: column;
    justify-content: space-around;
  }
  .mid-subsection-imgs .testimony {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* justify-content: flex-start; */
    margin-bottom: 40px;
    text-align: center;
    width: 100vw;
  }
  .mid-subsection-imgs .testimony p {
    color: #000;
    background-color: white;
    border: none;
    font-size: 13px;
    width: 80vw;
  }
  .mid-subsection-imgs img {
    margin-left: 5px;
    /* aspect-ratio: auto 506 / 548; */
    height: 50vw;
    width: 50vw;
  }
  .group-explore {
    font-weight: 550;
    margin-bottom: 40px;
    margin-top: 40px;
    line-height: 1;
    font-size: 20px;
    width: 95vw;
    text-align: center;
  }
  .bottom-headings {
    display: block;
    margin-top: 40px;
  }
  .small-heading {
    margin-bottom: 40px;
    margin-top: 0;
    font-weight: 600;
    font-size: 38px;
    width: 90vw;
  }
  .top-groups {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .top-groups div {
    width: 100%;
  }
  .scroll-content {
    justify-content: start;
    overflow-x: auto;
  }
  .scroll-content img {
    flex: 0 0 auto;
    border-radius: 0;
    width: 300px;
    height: 300px;
  }
  .scroll-container {
    margin-bottom: 40px;
  }
  .top-groups .desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .phone {
    display: none;
  }
}
